
<div class="container">
<div class="row">
  <div class="col-sm-12 text-center">
    <ol class="breadcrumb">
        <li><a ui-sref="main" href="">Home</a></li>
        <li ng-repeat="b in breadcrumb.items | reverse">
            <a href="/" ng-if="!$last">{{b.name}}</a>
            <span ng-if="$last">{{b.name}}</span>
        </li>
    </ol>
  </div>
    <hr class="clearfix"/>
</div>
</div>
<div class="container">
    <div class="row">
      <div class="col-md-3">
          <!-- *** MENUS AND FILTERS ***
_________________________________________________________ -->
          <div class="panel panel-default sidebar-menu">

              <div class="panel-heading">
                  <h3 class="panel-title">Categories</h3>
              </div>
              <div class="panel-body">
                  <ul class="nav nav-pills nav-stacked category-menu">
                      <li ng-repeat= "p in categories">
                          <a href="category.html">{{p.name}} <span class="badge pull-right">42</span></a>
                          <ul>
                              <li ng-repeat="c in p.sub_categories"><a href="/Category/{{c.slug}}/{{c._id}}">{{c.name}}</a>
                              </li>
                          </ul>
                      </li>
                  </ul>

              </div>
          </div>

          <!-- *** MENUS AND FILTERS END *** -->

          <div class="banner">
              <a href="#">
                  <img src="/assets/img/banner.jpg" alt="sales 2015" class="img-responsive">
              </a>
          </div>
      </div>

      <div class="col-md-9">
          <div class="row" id="foodMain">
              <div class="col-sm-6">
                  <div id="mainImage">
                      <img src="/assets/clothing/{{food.variants[0].image}}" err-src="/assets/images/photo.png" alt="{{food.name}}" class="img-responsive">
                  </div>

                  <div class="ribbon sale">
                      <div class="theribbon">SALE</div>
                      <div class="ribbon-background"></div>
                  </div>
                  <!-- /.ribbon -->

                  <div class="ribbon new">
                      <div class="theribbon">NEW</div>
                      <div class="ribbon-background"></div>
                  </div>
                  <!-- /.ribbon -->

              </div>
              <div class="col-sm-6">
                  <div class="box">
                      <h1 class="text-center">{{food.name}} (Size: {{food.variants[i].size}})</h1>
                      <p class="goToDescription"><a href="#details" class="scroll-to">Scroll to food details, material & care and sizing</a>
                      </p>
                      <p class="price"><del class="text-muted" ng-if="food.variants[0].price!=food.variants[0].mrp" >${{food.variants[i].mrp}}</del>&nbsp;${{food.variants[i].price}}</p>

                      <div class="text-center buttons">
                        <div class="btn-group">
                        <a ui-sref="foodDetail({id:food._id, slug:food.slug})" class="btn btn-default">View detail</a>
                        <a ng-click="cart.addItem({sku:food._id, name:food.name, slug:food.slug, mrp:food.variants[0].mrp, price:food.variants[0].price, weight:food.variants[0].weight}, -1)" ng-hide="checkCart(food._id)" class="btn btn-info">-</a>

                        <a ng-hide="checkCart(food._id)" class="btn btn-info">{{getQuantity(food._id);}}</a>

                        <a ng-click="cart.addItem({sku:food._id, name:food.name, slug:food.slug, mrp:food.variants[0].mrp, price:food.variants[0].price, weight:food.variants[0].weight}, +1)" ng-hide="checkCart(food._id)" class="btn btn-info">+</a>
                        </div>
                        <a ng-click="cart.addItem({sku:food._id, name:food.name, slug:food.slug, mrp:food.variants[0].mrp, price:food.variants[0].price, quantity:1, image:food.variants[0].image,category:food.category, size:food.variants[0].size, weight:food.variants[0].weight} ,true);" ng-show="checkCart(food._id)" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                      </div>

                  </div>

                  <div class="row" id="thumbs">
                      <div class="col-xs-4" ng-repeat="v in food.variants" ng-click="changeIndex($index);" ng-if="v.size!=food.variants[i].size">
                          <a href="" class="thumb">
                              <img src="/assets/clothing/{{v.image}}" err-src="/assets/images/photo.png" alt="{{food.name}}" class="img-responsive">
                              {{food.name}} (Size: {{v.size}})
                              <p class="price"><del class="text-muted" ng-if="v.price!=v.mrp" >${{v.mrp}}</del>&nbsp;${{v.price}}</p>
                          </a>
                      </div>

                  </div>
              </div>

          </div>


          <div class="box" id="details">
              <p>
                  <div ng-if="food.info">
                    <h4>Food details</h4>
                    <p>{{food.info}}</p>
                  </div>

                  <div ng-if="food.foodType">
                  <h4>FoodType</h4>
                  <ul>
                      <li><a href="/FoodType/{{food.foodType.name}}/{{food.foodType._id}}">{{food.foodType.name}}</a></li>
                  </ul>
                  </div>
                  <div ng-if="food.category">
                  <h4>Category</h4>
                  <ul>
                      <li><a href="/Category/{{food.category.slug}}/{{food.category._id}}">{{food.category.name}}</a></li>
                  </ul>
                  </div>

                  <div ng-if="food.variants[i]">
                  <h4>Weight</h4>
                  <ul>
                      <li>{{food.variants[i].weight}}</a></li>
                  </ul>
                  </div>
                  <div ng-if="food.features.length>0">
                  <h4>Features</h4>
                  <ul>
                      <li ng-repeat="f in food.features">{{f.key}} : {{f.val}}</li>
                  </ul>
                  </div>
                  <div ng-if="food.keyFeatures.length>0">
                  <h4>Key Features</h4>
                  <ul>
                      <li ng-repeat="f in food.keyFeatures">{{f}}</li>
                  </ul>
                  </div>
                  <blockquote>
                      <p>Define style this season with Armani's new range of trendy tops, crafted with intricate details. Create a chic statement look by teaming this lace number with skinny jeans and pumps.
                      </p>
                  </blockquote>

                  <hr>
                  <div class="social">
                      <h4>Show it to your friends</h4>
                      <p>
                          <a href="https://www.facebook.com/codenx2" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                          <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                          <a href="https://twitter.com/itswadesh" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                          <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                      </p>
                  </div>
          </div>
    </div>
</div>
